Repository BeryJu/pixie: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-linux-amd64, build-linux-arm64, build-docker

build-linux-amd64:
  stage: build
  script:
  - make linux-amd64
  artifacts:
    paths:
    - bin/pixie-linux-amd64

build-linux-arm64:
  stage: build
  script:
  - make linux-arm64
  artifacts:
    paths:
    - bin/pixie-linux-arm64

build-docker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"docker.beryju.org\":{\"auth\":\"$DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  script:
  ...

fix access logging being disabled
  pkg/server/server.go
Due: build-linux-amd64, build-linux-arm64, build-docker

fix Cache name inconsistency, make sure to only open file if really needed
  pkg/fs/cached/file.go
  pkg/fs/cached/fs.go
  pkg/fs/cached/stat.go
  pkg/server/server.go
Due: build-linux-amd64, build-linux-arm64, build-docker

add --silent flag to disable access logging
  README.md
  cmd/root.go
  pkg/config/config.go
  pkg/server/server.go
Due: build-linux-amd64, build-linux-arm64, build-docker

BREAKING: switch from -r to positional argument
  Makefile
  README.md
  cmd/root.go
  deployments/deployment.yaml
  init/pixie.service
Due: build-linux-amd64, build-linux-arm64, build-docker

minor cleanup
  internal/dir.go
  pkg/api/file.go
  pkg/fs/cached/file.go
  pkg/fs/cached/fs.go
Due: build-linux-amd64, build-linux-arm64, build-docker

migrate gitlab-ci to github actions
  .github/workflows/build.yml
  .github/workflows/test.yml
  .gitlab-ci.yml
Due: none

actions: specify go version
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

actions: explicitly set PATH to include GOBIN
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

all: replace module name with github url
  Dockerfile
  README.md
  cmd/root.go
  go.mod
  internal/handler.go
  main.go
  pkg/api/image.go
  pkg/fs/cached/file.go
  pkg/fs/cached/fs.go
  pkg/fs/standard/fs.go
  pkg/server/server.go
  pkg/templates/templates-packr.go
Due: build-linux-amd64, build-linux-arm64, build-docker

make: correctly reference GOPATH in makefile
  .github/workflows/build.yml
  .github/workflows/test.yml
  Makefile
  go.mod
  go.sum
  packrd/packed-packr.go
Due: none

actions: build only on tag, create release
  .github/workflows/build.yml
Due: none

fix index.html in subdirectories not working correctly
  pkg/constant/constant.go
Due: build-linux-amd64, build-linux-arm64, build-docker

actions: fix build for arm64
  .github/workflows/build.yml
Due: none

cleanup readme
  README.md
Due: none

use latest docker hub image for k8s deployment
  deployments/deployment.yaml
Due: none

use recommended labels for k8s deployment
  deployments/deployment.yaml
  deployments/ingress.yaml
  deployments/service.yaml
Due: none

cleanup readme a bit more
  README.md
Due: none

add SPA Mode to redirect all requests for missing files to /index.html
  README.md
  cmd/root.go
  internal/handler.go
  internal/http.go
  pkg/config/config.go
Due: build-linux-amd64, build-linux-arm64, build-docker

use scratch as base-image
  Dockerfile
Due: build-docker

build latest and versioned docker image
  .github/workflows/build.yml
Due: none

Path conditions:
  build-linux-amd64: any of: cmd/**/*, internal/**/*, pkg/**/*, web/**/*
  build-linux-arm64: any of: cmd/**/*, internal/**/*, pkg/**/*, web/**/*
  build-docker: any of: cmd/**/*, internal/**/*, pkg/**/*, web/**/*, Dockerfile
